* {
  box-sizing: border-box;
}

header {
  height: 100vh;
  background-image: url("./images/banner.jpg");
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media all and (max-width: 767) {
  header {
    background-size: 100% 900px;
  }
}
.logo {
  width: 70%;
}
.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  color: white;
  text-decoration: none;
  font-size: 1.02em;
  border: 1px solid blueviolet;
}
.list {
  list-style: none;
}

.transform {
  background-color: #1a1310;
  opacity: 0.5;
  width: 65%;
}
*:focus {
  outline: none;
}
.round{
  border-radius:10px;
}
.section-1 {
  background-color: rgb(207, 207, 207);
  margin-top: -12%;
}
.card {
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
}
.section-1 h3 button {
  border: 1px solid blueviolet;
  color: blueviolet;
}
.img {
  width: 100vw;
  height: 50vh;
}
.bg {
  background-color: rgb(202, 202, 202);
}
.bg-prop{
  background-color: beige;
}
.transform-property:hover {
  transform: scale(1.02);
}
.contact {
  border: 1px solid blueviolet;
  color: blueviolet;
}
.img-size {
  width: 200px;
  height: 40px;
}
footer .main {
  background-color: rgb(12, 12, 12);
  color: rgb(110, 110, 110);
}

.footer-link {
  color: rgb(110, 110, 110);
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: none;
  color: rgb(110, 110, 110);
}

.shop {
  width: 50px;
  height: 50px;
}
small {
  display: block;
}

.modal-style {
  width: 26vw;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  line-height: 25px;
  position: fixed;
  top: 10vw;
  left: 39vw;
  background-color: rgb(187, 231, 161);
  color: rgb(5, 68, 24);
  z-index: 1;
  text-align: center;
}
.modal-btn {
  padding: 2px 20px 2px 20px;
  border: 1px solid grey;
  background-color: indigo;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.modal-btn:hover {
  background-color: blue;
}

form input {
  border: 2px solid grey;
}
input:focus {
  box-shadow: 1px 1px 10px 1px rgb(117, 113, 113);
}
.form span {
  padding: 5px;
}
#checkbox {
  width: auto;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 30px;
  border: 1px solid grey;
  margin: auto;
  color: rgb(68, 124, 173);
  margin-top: 10px;
  margin-bottom: 10px;
}
.check-icon {
  width: 20px;
  height: 20px;
  position: relative;
  left: 190px;
  top: -50px;
}
.icon-box {
  text-align: center;
}
.icon {
  width: 60px;
  height: 60px;
  margin: auto;
}
.invalid-data {
  padding: 2px;
  display: block;
  color: red;
  text-align: justify;
  word-wrap: break-word;
}
.valid-data {
  padding: 2px;
  display: block;
  color: green;
  text-align: justify;
  word-wrap: break-word;
}
.form-box h1 {
  padding: 4px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.submit-btn {
  font-size: 1em;
  font-weight: 300;
  margin: auto;
}
.submit-btn:hover {
  background-color: blue;
  color: aliceblue;
}
.code {
  width: 100%;
  height:30vw;
}
@media all and (max-width: 600px) {
  .form-box {
    margin-top: 20px;
    width: 90%;
  }
  .about {
    width: 100%;
  }
  .section {
    width: 100%;
    padding: 10px;
  }
  .modal-style {
    width: 80vw;
    top: 30vw;
    left: 10vw;
  }
  .modal-btn {
    background-color: blue;
    position: relative;
    top: 20px;
  }
}
.container-box .container {
  width: 40%;
  margin: auto;
  color: rgb(68, 124, 173);
  height: fit-content;
  padding: 10px;
}
.container-box {
  display: flex;
  background-color: white;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.loader {
  color: white;
  margin: auto;
  margin-top: 5%;
  font-size: small;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.prop{
  background-color:rgb(202, 202, 202);
}